*{
    box-sizing: border-box;
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

section{
    max-width: 640px;
    min-width: 300px;
    margin: 20px auto; 
    background-color: rgb(56, 207, 119);
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

input{
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}

button{
    padding: 20px;
    font-size: 20px;
    margin-top: 25px;
}

.error-text{
    font-size: 15px;
    color: rgb(184, 38, 38);
}
